@import "tailwindcss";

:root {
  --background-color: #eaeaea;
  --foreground-color: #2B2B2B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #2B2B2B;
    --foreground-color: #eaeaea;
  }
}

html {
  font-size: 62.5%;
}

@media screen and (max-width:768px) {
  html {
    font-size: 42%;
  }
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

p,
span {
  color: var(--foreground-color);
  opacity: 0.6;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  color: var(--foreground-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

section {
  padding: 5rem 0;
}